html
  head
    link(href='css/main.css', rel='stylesheet')
    title= title
    script(src='js/jquery-3.2.1.js')
    script(src='js/main.js')
    script(src='js/confirmation.js')
  body
   div(class='navbar')
   p= 'Confirmation.'
   form(method="post" class="confirmation-form" id="confirmation-form" name="confirmation-form")
     label(for="username") Username
       input(type="text", name="username" required="true" autocomplete="off")
     label(for="verifycode") Verification Code
       input(type="text", name="verifycode" required="true" autocomplete="off")
     input(type="submit", value="Complete Signup")
   p.
     <a href="/">Go back to home.</a>
