html
  head
    link(href='css/main.css', rel='stylesheet')
    title= title
    script(src='js/jquery-3.2.1.js')
    script(src='js/main.js')
  body
   div(class='navbar')
    h1= message
   p= 'This website is currently running on: ' + platform
     
   p= 'Let us see if we can do forms then.'
   form(method="post" class="message-form")
     label(for="message") Send a message
       input(type="text", name="message" required="true" autocomplete="off")
     input(type="submit", value="Send message" onclick="getMessages()")

   ul(class="messageList" id="messageList")
  
   p.
     <a href="/login">Click here to Sign in!</a>
     <a href="/register">Click here to register!</a>
