body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: "Helvetica";
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 5%;
}
h1 {
    padding-top: 30px;
    padding-left: 5%;
    background-color: #607D8B;
}
html,head {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    background-color: #607D8B
}
.navbar {
    background-color: #607D8B;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding-bottom: 50px; 
}
.server-name {
    color: red;
}
